<template lang="pug">
  main(:key="$route.params.slug")
    .container
      article
        main
          h1.title.text-center {{attributes.title}}
          .content(v-html="content")
        hr
        footer
          h2.publish-date Article published on {{attributes.published}}
</template>

<script>
// require markdown processors
const fm = require("front-matter")
let md = require("markdown-it")({
  html: true,
  typographer: true
})

import ArticleService from '~/services/FrontArticleService.js'

export default {
  layout: 'courtside',
  head() {
    let article = this
    return {
      title: article.attributes.title,
      meta: [
        {
          hid: "description",
          name: "description",
          content: `${article.attributes.description}`
        },
        {
          vmid: "og:title",
          property: "og:title",
          content: `${article.attributes.title}`
        },
        {
          hid: "og:description",
          property: "og:description",
          content: `${article.attributes.description}`
        },
        {
          vmid: 'twitter:title',
          name: 'twitter:title',
          content: `${article.attributes.title}`,
        },
        {
          hid: "twitter:description",
          name: "twitter:description",
          content: `${article.attributes.description}`
        },
        {
          hid: "og:published_time",
          property: "og:published_time",
          content: new Date(article.attributes.published).toISOString()
        }
      ]
    }
  },
  async asyncData({ params }) {
    let article_markdown = await ArticleService.getArticleContents(params.category, params.slug),
        article = fm(article_markdown.default),
        rendered_article = md.render(article.body)

    return {
      // article metadata
      attributes: article.attributes,
      // article body
      content: rendered_article
    }
  }
}
</script>

<style lang="css">
img {
  max-width: 100%;
}
</style>

<style lang="css" scoped>
article {
  max-width: 800px;
  margin: 0 auto;
}

article main h1.title {
  font-size: 2rem;
}

article footer h2.publish-date {
  font-size: 18px;
  color: #656565;
}
</style>
