<template lang="pug">
  main(v-if="sorted_articles.length <= 0")
    .container
      h1 Courtside articles in {{$route.params.category}}
      hr
      h2 Sorry! There are no articles to display for this category yet.
  main(v-else :key="$route.params.category")
    .container
      h1 Courtside articles in {{$route.params.category}}
      hr
      section#articles.article-card-container
        article-card(
          v-for="article in sorted_articles"
          :key="article.attributes.name"
          :thumbnail="article.attributes.thumbnail"
          :title="article.attributes.title"
          :published="article.attributes.published"
          :description="article.attributes.description"
          :endpoint="article.attributes.endpoint"
        )
</template>

<script>
import ArticleService from '~/services/FrontArticleService.js'

import ArticleCard from '~/components/ArticleCard.vue'

export default {
  layout: 'courtside',
  head() {
    let article = this
    return {
      title: article.$route.params.category,
      meta: [
        {
          hid: "description",
          name: "description",
          content: `All Courtside articles under the ${article.$route.params.category} category.`
        },
        {
          vmid: "og:title",
          property: "og:title",
          content: `ToneCoach Courtside Blog | ${article.$route.params.category}`
        },
        {
          hid: "og:description",
          property: "og:description",
          content: `All Courtside articles under the ${article.$route.params.category} category.`
        },
        {
          vmid: 'twitter:title',
          name: 'twitter:title',
          content: `ToneCoach Courtside Blog | ${article.$route.params.category}`,
        },
        {
          hid: "twitter:description",
          name: "twitter:description",
          content: `All Courtside articles under the ${article.$route.params.category} category.`
        }
      ]
    }
  },
  data: function() {
    return {
      articles: []
    }
  },
  computed: {
    sorted_articles: function() {
      let courtside = this
      return courtside.articles.sort((current_article, previous_article) => {
        return new Date(current_article.attributes.published) - new Date(previous_article.attributes.published)
      })
    }
  },
  async asyncData({ params }) {
    let articles = await ArticleService.getArticlesByCategory(params.category)

    return {
      articles
    }
  },
  components: {
    ArticleCard
  }
}
</script>

<style lang="css" scoped>
hr {
  margin-bottom: 30px;
}
</style>
