<template lang="pug">
  main(v-if="sorted_articles.length <= 0")
    .container
      h2.text-center Sorry! There are no articles to display here.
  main(v-else)
    .container
      section#browse-by-category
        h2 Browse articles by category
        nav.navbar
          a.navlink(v-for="category in article_categories" :href="'/courtside/' + category") {{category}}

      hr

      section#articles.article-card-container
        article-card(
          v-for="article in sorted_articles"
          :key="article.attributes.name"
          :thumbnail="article.attributes.thumbnail"
          :title="article.attributes.title"
          :published="article.attributes.published"
          :description="article.attributes.description"
          :endpoint="article.attributes.endpoint"
        )
</template>

<script>
import ArticleService from '~/services/FrontArticleService.js'

import ArticleCard from '~/components/ArticleCard.vue'

export default {
  layout: 'courtside',
  head() {
    return {
      title: "Articles for music lovers",
      meta: [
        {
          hid: "description",
          name: "description",
          content: "The Courtside blog is all about music education, production, software tips & tricks, artist interviews, and more."
        },
        {
          vmid: "og:title",
          property: "og:title",
          content: "ToneCoach Courtside | Articles for music lovers"
        },
        {
          hid: "og:description",
          property: "og:description",
          content: "The Courtside blog is all about music education, production, software tips & tricks, artist interviews, and more."
        },
        {
          vmid: 'twitter:title',
          name: 'twitter:title',
          content: "ToneCoach Courtside | Articles for music lovers",
        },
        {
          hid: "twitter:description",
          name: "twitter:description",
          content: "The Courtside blog is all about music education, production, software tips & tricks, artist interviews, and more."
        }
      ]
    }
  },
  data: function() {
    return {
    }
  },
  computed: {
    sorted_articles: function() {
      let courtside = this
      return courtside.articles.sort((current_article, previous_article) => {
        return new Date(current_article.attributes.published) - new Date(previous_article.attributes.published)
      })
    }
  },
  async asyncData({ params }) {
    let articles = await ArticleService.getAllArticles(),
        article_categories = await ArticleService.getArticleCategories()

    return {
      articles,
      article_categories
    }
  },
  components: {
    ArticleCard
  }
}
</script>

<style lang="css" scoped>
section#browse-by-category {
  margin-bottom: 30px;
}

section#browse-by-category nav.navbar {
  margin: 0;
}

section#browse-by-category nav.navbar .navlink {
  margin: 0 10px;
}

section#browse-by-category nav.navbar .navlink:first-child {
  margin-left: 0;
}

section#browse-by-category nav.navbar .navlink:last-child {
  margin-right: 0;
}

section#articles {
  margin-top: 30px;
}
</style>
