<template lang="pug">
article
  a(:href="endpoint")
    header.thumbnail(:style="{background: 'url(' + thumbnail + ') center center'}")
    main.body
      h2.title {{title}}
      hr
      p.description {{description}}
      hr
    footer.text-center
      h3.date Published on {{published}}
</template>

<script>
export default {
  name: 'article-card',
  props: {
    thumbnail: {
      type: String,
      default: 'https://via.placeholder.com/1000x400'
    },
    title: String,
    published: String,
    description: String,
    endpoint: String
  }
}
</script>

<style lang="css" scoped>
article {
  border-radius: 15px;
  background: white;
  margin: 0;
  box-shadow: 0 5px 5px 3px rgba(0, 0, 0, .04);
  transition: .2s;
  width: 100%;
  max-width: 450px;
}

article:hover {
  box-shadow: 0 5px 20px 7px rgba(0, 0, 0, .14);
  transform: scale(1.01);
}

article header.thumbnail {
  width: 100%;
  height: 200px;
  border-radius: 15px 15px 0 0;
  box-shadow: 0 1px 10px 0 rgba(0, 0, 0, .1);
  background-size: cover !important;
}

article main.body {
  padding: 25px 50px 0;
  margin: 0;
  flex-grow: 1;
}

article main.body h2.title {
  margin: 0;
  font-size: 20px;
}

article main.body h3.date {
  margin: 0;
  font-size: 14px;
  color: #656565;
}

article main.body p.description {
  font-size: 16px;
}

article footer {
  padding: 0 0 5px;
}

article footer h3 {
  font-size: 14px;
  font-weight: normal;
  color: #777;
}
</style>
