<template lang="pug">
section.explainer(:id="id")
  .container.flex.row.center
    article.description
      slot(name="content")
      a.explainer-cta(:href="cta_link")
        strong {{cta_text}}&nbsp;
          i.fas.fa-arrow-right
    aside
      img(:src="image_src" :alt="image_alt")
</template>

<script>
export default {
  name: 'explainer-section',
  props: {
    id: String,
    image_src: String,
    image_alt: String,
    cta_text: String,
    cta_link: String
  }
}
</script>

<style lang="css" scoped>
</style>
