<template lang="html"></template>

<script>
export default {
}
</script>

<style lang="css" scoped>
</style>

<script>
export default {
  name: 'mailchimp-slide',
  mounted() {
    let mailchimp_slide = this
    mailchimp_slide.initialize()
  },
  methods: {
    initialize: function() {
      const mailchimp_config = {
          baseUrl: 'mc.us4.list-manage.com',
          uuid: '41715791c3889a903d94b9d29',
          lid: 'b79f9ead7f'
      }
      // No edits below this line are required
      let popup_loader = document.createElement("script"),
          popup = document.createElement("script"),
          popup_script = document.createTextNode(`window.dojoRequire(["mojo/signup-forms/Loader"], function(L) { L.start({"baseUrl":"${mailchimp_config.baseUrl}","uuid":"${mailchimp_config.uuid}","lid":"${mailchimp_config.lid}","uniqueMethods":true}) })`)

      popup_loader.src = 'https://downloads.mailchimp.com/js/signup-forms/popup/unique-methods/embed.js'
      popup_loader.setAttribute('data-dojo-config', 'usePlainJson: true, isDebug: false')
      popup.appendChild(popup_script)

      popup_loader.onload = function() {
        document.body.appendChild(popup)
      }
      document.body.appendChild(popup_loader)
    }
  }
}
</script>
