<template lang="pug">
nav.navbar.social-media
  // variable link: string
  // variable icon: string
  // variable show: boolean

  mixin social_media_profile_link(link, icon, show)
    if (show === true)
      a.navlink.font-light(href=link target="_blank")
        i.fab.fa-2x(class=("fa-" + icon))

  // twitter
  +social_media_profile_link("https://twitter.com/teamtonecoach", "twitter", true)
  // youtube
  +social_media_profile_link("https://www.youtube.com/channel/UC82C1QSHT0sXrlY_ZksCvdg", "youtube", true)
  // instagram
  +social_media_profile_link("https://instagram.com/teamtonecoach", "instagram", true)
  // soundcloud
  +social_media_profile_link("https://soundcloud.com/teamtonecoach", "soundcloud", true)
</template>

<script>
export default {
  name: 'social-media-navbar'
}
</script>

<style lang="css" scoped>
nav.navbar.social-media .navlink {
  margin: 0 10px;
}

nav.navbar.social-media .navlink:first-child {
  margin-left: 0;
}

nav.navbar.social-media .navlink:last-child {
  margin-right: 0;
}
</style>
