/* GLOBAL STYLES */
/* global boilerplate styles */
body {
  margin: 0 auto;
  font-family: 'Nunito Sans', sans-serif;
  overflow-x: hidden;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Nunito', sans-serif;
  color: #303030;
}

span {
  color: #393939;
}

h1, h2, h3 {
  font-weight: 600;
}

p {
  font-size: 20px;
  color: #606060;
}

hr {
  border-style: solid;
  opacity: .1;
}

hr.dark {
  opacity: .6;
}

::selection {
  color: white !important;
  background-color: #01bcd4;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 10px 10px rgba(0, 0, 0, 0);
}

::-webkit-scrollbar {
  width: 15px;
  height: 15px;
  background-color: #003a41;
}

::-webkit-scrollbar-thumb {
  background-color: white;
  border: 3px solid #003a41;
  border-radius: 15px;
}

a {
  color: #393939;
  text-decoration: none;
}

a:visited {
  color: #393939;
}

a.underline {
  text-decoration: underline;
}

/* global basic "framework" styles */
.container {
  margin: 0 15%;
}

.container-wide {
  margin: 0 5%;
}

.hide {
  display: none;
}

.text-uppercase {
  text-transform: uppercase;
}

.text-lowercase {
  text-transform: lowercase;
}

.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.font-regular {
  font-weight: regular;
}

.font-italic {
  font-style: italic;
}

.font-bold {
  font-weight: bold;
}

.font-light,
.font-light *,
.font-light:visited {
  color: white !important;
}

.font-dark,
.font-dark *,
.font-light:visited {
  color: #393939 !important;
}

.flex {
  display: flex;
}

.flex.row {
  flex-flow: row nowrap;
}

.flex.column {
  flex-flow: column nowrap;
}

.flex.wrap {
  flex-wrap: wrap;
}

.flex.nowrap {
  flex-wrap: nowrap;
}

.flex.center {
  justify-content: center;
  align-items: center;
}

.flex.align-center {
  align-items: center;
}

.flex.justify-center {
  justify-content: center;
}

.width-100 {
  width: 100%;
}

.margin-0 {
  margin: 0;
}

.force-center {
  margin: 0 auto;
}

.btn {
  border: 2px solid #393939;
  width: fit-content;
  padding: 10px 20px;
  transition: .1s ease-in;
  border-radius: 15px;
  background: transparent;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, .2);
}

.btn.dark {
  border-color: #393939;
  color: #393939;
}

.btn.light {
  border-color: white;
  color: white;
}

.btn.solid.light {
  background: white;
  color: #393939;
}

.btn.solid.dark {
  background: #393939;
  color: white;
}

.btn.large {
  border-width: 3px;
  width: fit-content;
  padding: 15px 40px;
  font-size: 2rem;
  font-weight: normal;
}

.btn:hover {
  box-shadow: 0px 2px 8px rgba(0, 0, 0, .6);
}

.musician-background {
  background: linear-gradient(180deg, #00BCD4 0%, #003A40 100%);
}

.full-screen {
  min-height: 100vh;
  min-width: 100vw;
}

@media screen and (max-width: 360px) {
  .hide-xxs {
    display: none;
  }
}

@media screen and (max-width: 480px) {
  .hide-xs {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  .hide-sm {
    display: none;
  }
}

@media screen and (max-width: 992px) {
  .hide-md {
    display: none;
  }
}

@media screen and (max-width: 1200px) {
  .hide-lg {
    display: none;
  }
}
