mixin feature-box(icon, title)
  article.feature-box
    .title.flex.row.align-center
      i.icon.font-light.fa-2x(class=("fa-" + icon.name + " " + icon.library) style= "background: " + icon.background + ";")
      h2= title
    .content
      block
