<template lang="pug">
  div
    Error404(v-if="error.statusCode === 404")
    h1(v-else) Uh oh! An error occurred and the page could not be loaded.
</template>

<script>
import Error404 from '~/pages/404.vue'

export default {
  props: ['error'],
  layout: 'default',
  components: {
    Error404
  }
}
</script>

<style lang="css" scoped>
</style>
