<template lang="pug">
  div
    // replace with fortawesome npm library later
    script(src="https://kit.fontawesome.com/e03f792293.js" crossorigin="anonymous")
    // add mailchimp popup form
    mailchimp-popup

    nuxt
    website-footer
</template>

<script>
import MailchimpPopup from '~/components/MailchimpPopup.vue'
import WebsiteFooter from '~/components/WebsiteFooter.vue'

export default {
  components: {
    MailchimpPopup,
    WebsiteFooter
  },
  head() {
    let app = this
    return {
      meta: [
        // OpenGraph data
        {
          hid: "og:site_name",
          property: "og:site_name",
          content: "ToneCoach"
        },
        {
          hid: "og:type",
          property: "og:type",
          content: "article"
        },
        {
          hid: "og:url",
          property: "og:url",
          content: `https://tone.coach${app.$route.fullPath}`
        },
        {
          hid: "og:updated_time",
          property: 'og:updated_time',
          content: new Date().toISOString()
        },
        {
          hid: "og:image",
          property: "og:image",
          content: "https://tone.coach/img/banner.png"
        },
        // Twitter metadata
        {
          hid: "twitter:url",
          property: "twitter:url",
          content: `https://tone.coach${app.$route.fullPath}`
        },
        {
          hid: "twitter:image",
          property: "twitter:image",
          content: "https://tone.coach/img/banner.png"
        },
        {
          hid: "twitter:image:src",
          property: "twitter:image:src",
          content: "https://tone.coach/img/banner.png"
        }
      ],
      link: [
        // Essential url SEO metadata
        {rel: "canonical", href: `https://tone.coach${app.$route.fullPath}`},
        {itemprop: "url", href: `https://tone.coach${app.$route.fullPath}`},
        {itemprop: "thumbnailUrl", href: "https://tone.coach/img/banner.png"}
      ]
    }
  }
}
</script>

<style lang="css">
@import url('~/assets/css/animate.css');

/* Header styles */
header .logo {
  width: 300px;
  transition: .2s;
}

header .logo:hover {
  transform: translateY(-5px);
}

header h1 {
  font-size: 36px;
  font-weight: 700;
}

header h2 {
  font-size: 24px;
  font-weight: 300;
}

header hr {
  width: 100%;
}

header .cta-row {
  margin-bottom: 50px;
}

header #header-cta {
  margin-bottom: 50px;
}

#header-cta h3.join-mailing-list-title {
  font-weight: bold;
  font-size: 2rem;
}

@media screen and (max-width: 768px) {
  header h1 {
    font-size: 28px !important;
  }

  header h2 {
    font-size: 24px !important;
  }

  header .logo {
    width: 250px;
  }

  header .cta {
    font-size: 1.25rem !important;
  }
}

main {
  background: #f8f8f8;
}

main section {
  background: #fefefe;
  padding: 60px 0;
}

/* features styles */
section#features {
  background: #f8f8f8;
  box-shadow: inset 0 -15px 15px -15px rgba(0, 0, 0, .08);
}

section#features .feature-box-row {
  justify-content: space-between;
}

section#features .feature-box {
  max-width: 320px;
  border-radius: 15px;
  transition: .1s ease-out;
}

section#features .feature-box {
  box-shadow: 0 4px 15px rgba(0, 0, 0, .09);
}

section#features .feature-box:hover {
  box-shadow: 0 4px 15px rgba(0, 0, 0, .12);
}

section#features .feature-box .title h2 {
  margin: 0 20px;
  font-size: 20px;
}

section#features .feature-box .title {
  border-radius: 15px 15px 0 0;
  box-shadow: 0 5px 5px -5px rgba(0, 0, 0, .1);
  border-bottom: 0;
  background: white;
}

section#features .feature-box .title .icon {
  padding: 17px 40px;
  background: #01bcd4;
  border-radius: 15px 0 0 0;
}

section#features .feature-box .content {
  border-top: 0;
  padding: 20px;
  border-radius: 0 0 15px 15px;
  background: linear-gradient(transparent 0%, white 10%);
}

section#features .feature-box .content p {
  margin: 0;
  font-size: 18px;
}

@media screen and (max-width: 1200px) {
  section#features .feature-box {
    flex-grow: 1;
    margin: 15px 0;
    max-width: initial;
  }

  section#features .feature-box:first-child {
    margin-top: 0;
  }

  section#features .feature-box:last-child {
    margin-bottom: 0;
  }
}

section.explainer:nth-of-type(odd) {
  background: #f8f8f8;
  box-shadow: inset 0 2px 15px rgba(0, 0, 0, .08);
}

section.explainer article.description {
  min-width: 500px;
  width: 500px;
  padding: 20px 50px;
  background: white;
  border-radius: 15px;
}

section.explainer article.description a.explainer-cta {
  color: #01bcd4;
}

section.explainer article.description h2 {
  font-size: 28px;
}

section.explainer article.description p {
  font-size: 18px;
}

section.explainer article.description hr {
  opacity: .1;
}

section.explainer article.description {
  order: 1;
  margin-right: 50px;
}

section.explainer aside {
  order: 2;
}

section.explainer:nth-of-type(odd) aside {
  order: 1;
  margin-right: 50px;
}

section.explainer:nth-of-type(odd) article.description {
  order: 2;
  box-shadow: 0 0 15px rgba(0, 0, 0, .08);
  margin-right: 0;
}

section.explainer aside {
  flex-grow: 1;
}

section.explainer aside img {
  border-radius: 15px;
  width: 100%;
}

@media screen and (max-width: 1400px) {
  section.explainer article.description {
    min-width: 300px;
    width: 300px;
    padding: 20px 50px;
    background: white;
    border-radius: 15px;
  }

  section.explainer article.description h2 {
    font-size: 24px;
  }
}

@media screen and (max-width: 1200px) {
  section.explainer article.description {
    min-width: initial;
    width: initial;
    flex-grow: 1;
    padding: 20px 50px;
    background: white;
    border-radius: 15px;
    text-align: center;
  }

  section.explainer article.description p {
    font-size: 16px;
  }

  section.explainer .container {
    flex-flow: column;
  }

  section.explainer img {
    width: 100%;
    max-width: 500px;
  }

  section.explainer aside {
    order: 1;
    margin: 0 0 30px 0 !important;
  }

  section.explainer article.description {
    order: 2;
    margin: 0;
  }
}

/* index.html #final-cta */
section#final-cta {
  background: #f8f8f8;
  box-shadow: inset 0 15px 15px -15px rgba(0, 0, 0, .08);
}

section#final-cta h3 {
  font-size: 40px;
}

</style>
