<template lang="pug">
div
  header.flex.column.center.full-screen.musician-background.font-light.text-center
    .container-wide.flex.column.center.animated.bounceInUp
      img.logo(src="~assets/img/logo/Transparent@2x.png")
      h1.margin-0 Learn music theory, audio engineering, and music production
      h2.margin-0 ToneCoach Academy takes the guesswork out of music education
      hr.dark
      #header-cta
        h3.join-mailing-list-title Join the early access list
        mailchimp-embed
  main
    // pug mixins
    include ../mixins/feature-box.pug

    //features
    section#features
      .container
        .feature-box-row.flex.row.wrap
          +feature-box({name: "tv-music", library: "fas", background: "#01bcd4"}, "Tailored courses")
            p Learn the skills you want to learn based on the genre or instrument of your choice.
          +feature-box({name: "road", library: "far", background: "#e03534"}, "Course tracks")
            p Follow proven course tracks to learn how to play, record, mix, master, DJ, and manage.
          +feature-box({name: "running", library: "fas", background: "#9f60da"}, "Self-paced lessons")
            p Stream as many course lessons as you want at your own pace. Your progress is autosaved!

    //why
    explainer-section(
      id="why-explainer"
      image_src="/img/explainers/academy/learn-explainer.jpg"
      image_alt="Grayscale image of a band."
      cta_link="#final-cta"
      cta_text="Join the early access list"
    )
      div(slot="content")
        h2 Learn how to play, record, mix, master, DJ, and manage in the music industry.
        hr
        p "Music" is a very broad topic! There are many moving parts that turn a song idea into a finished piece that you can stream, hear on the radio, play at a party, or perform live.
        p.font-dark
          strong ToneCoach Academy has all of the answers you need to learn and practice every part of the song-making process.

    //how
    explainer-section(
      id="remote-explainer"
      image_src="/img/explainers/academy/study-explainer.jpg"
      image_alt="Macbook computer, notepad, and tea."
      cta_link="#final-cta"
      cta_text="Join the early access list"
    )
      div(slot="content")
        h2 Follow a custom-tailored course track to achieve your music dreams.
        hr
        p Your art will always resemble your taste and style, and your learning path should be just as unique.
        p When you start studying, you can tell ToneCoach Academy what your goals are by selecting a specific genre or instrument that you want to work with as well as your current skill level - your course track will be customized to you.
        p.font-dark
          strong Academy takes the guesswork out of learning how to play, make, and manage your music.

    //what
    explainer-section(
      id="in-person-explainer"
      image_src="/img/explainers/academy/self-pace-explainer.jpg"
      image_alt="Woman throwing papers into the air."
      cta_link="#final-cta"
      cta_text="Join the early access list"
    )
      div(slot="content")
        h2 Stream video lessons and learn at your own pace.
        hr
        p Each course track and course contains video lessons, quizzes, and tests to learn and review the skills you want on both a technical and high level.
        p Study as deep as you want or far as you like and keep track of your progress along the way. All on-demand, all at your own pace, all in one platform.
        p.font-dark
          strong We want to make cohesive, well-rounded music education available to all music-lovers.

    //end-page cta
    section#final-cta
      .container
        .flex.column.center.text-center
          h2.margin-0 Notify me when Academy goes live
          p We are working hard to get ToneCoach Academy up and running, but it's not up quite yet - enter your email below to get updates.
          hr.width-100
          mailchimp-embed
</template>

<script>
import MailchimpEmbed from '~/components/MailchimpEmbed.vue'
import ExplainerSection from '~/components/ExplainerSection.vue'

export default {
  layout: 'explainer',
  head() {
    return {
      title: "ToneCoach Academy | Personalized online music courses",
      meta: [
        {
          hid: "description",
          name: "description",
          content: "Personalized music lessons and courses on music theory, production, management, mixing, mastering, DJing, song writing, and more."
        },
        {
          vmid: "og:title",
          property: "og:title",
          content: "ToneCoach Academy | Personalized online music courses"
        },
        {
          hid: "og:description",
          property: "og:description",
          content: "Personalized music lessons and courses on music theory, production, management, mixing, mastering, DJing, song writing, and more."
        },
        {
          name: 'twitter:title',
          content: 'ToneCoach Academy | Personalized online music courses',
          vmid: 'twitter:title'
        },
        {
          hid: "twitter:description",
          name: "twitter:description",
          content: "Personalized music lessons and courses on music theory, production, management, mixing, mastering, DJing, song writing, and more."
        }
      ]
    }
  },
  components: {
    MailchimpEmbed,
    ExplainerSection
  }
}
</script>

<style lang="css" scoped>
#final-cta hr {
  margin-bottom: 30px;
}
</style>
